/* Header */
.header, .footer, .section-one {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .cta {
    color: #f9faf8;
    font-size: 24px;
}

.header-links ul{
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 18px;
    
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Header End */
/* Hero */

.section-one {
    display: flex;
}

.hero {

}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary, .text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 6px 28px;
    border-radius: 8px;
}

.hero button {
    border: none;
}

.hero-img {
    width: 50%;
}
/* Hero End */
/* section-three */
.section-three {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.person {
    color: #1f2937;
    align-items: flex-end;
}
/* section-four */
.container {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 200px 100px;
    padding: 50px 100px;
}

.section-four button {
    border: 2px solid #f9faf8;
}

.cta {

}

.section-four, .text {

}

/* Footer */
.footer {
    color: #e5e7eb;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
/* Footer End */