/* Header */
.header, .footer, .section-one {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-links ul{
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 18px;
    
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Header End */
/* Hero */

.section-one {
    display: flex;
}

.hero {

}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.hero button {
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 28px;
    border: none;
    border-radius: 8px;
}

.hero-img {
    width: 50%;
}
/* Footer */
.footer {
    color: #e5e7eb;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
/* Footer End */